

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron{
    background: url(..\img\recycleguys.png);
     background-color: lime; 
     color: snow; 
     text-shadow: 1px 1px 1px darkred; 
 } 
.jumbotron h1
{text-align: center;
}















