

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron{
    background: url(..\img\recycleguys.png);
     background-color: darkgreenlime; 
     color: whitesmoke; 
     text-shadow: 1px 1px 1px darkslategray; 
 } 
.jumbotron h1
{text-align: center;
}















